<div class="product_kit">
  <div class="section_start product_kit_inner{% if section.settings.bg_shape != blank %} full_bg_shape{% endif %}"{% if section.settings.bg_shape != blank %} style="background-image:url('{{ section.settings.bg_shape }}');"{% endif %}>
    <div class="page-width page-container-width">
      {% if section.settings.section_title != blank %}
      <div class="section_header text-center">
        <h2>{{ section.settings.section_title }}</h2>
        {% if section.settings.section_info != blank %}
        <div class="richtext">
        	{{ section.settings.section_info }}
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="product_kit_start">
        <div class="product_kit_row grid grid--1-col grid--3-col-tablet">
        	{% for block in section.blocks %}
          		{% assign kitColor = block.settings.kit_color %}
          		<div class="grid__item">
                   <div class="product_kit_card">
                      {% if block.settings.kit_title != blank %}
                      <div class="product_kit_card_title text-center"{% if kitColor != blank %} style="background-color:{{ kitColor }};"{% endif %}>
                         <h5 class="m-0 white_color fw_normal text-center">{{ block.settings.kit_title }}</h5>
                      </div>
                      {% endif %}
                      <div class="product_kit_card_body"> 
                         <div class="product_kit_card_top">
                           	{% if block.settings.kit_img != blank %}
                            <div class="product_kit_image position-relative">
                               <img src="{{ block.settings.kit_img | img_url: 'master' }}" alt="{{ block.settings.kit_img.alt }}"/>
                               {% if block.settings.kit_label != blank %}
                               <div class="product_kits_label text-center"{% if kitColor != blank %} style="background-color:{{ kitColor }};"{% endif %}>
                                  <span class="product_kit_label_text white_color text-uppercase">{{ block.settings.kit_label }}</span>
                               </div>
                               {% endif %}
                            </div>
                            {% endif %}
                           	{% if block.settings.kit_text_info != blank %}
                            <div class="product_kit_text_info richtext fs_14">
                               {{ block.settings.kit_text_info }}
                            </div>
                           	{% endif %}
                            <div class="product_kit_contains">
                               {% if block.settings.kit_contain_title != blank %}
                               <span class="fw_bold mb-2 fs_14 d-block"{% if kitColor != blank %} style="color:{{ kitColor }};"{% endif %}>{{ block.settings.kit_contain_title }}</span>
                               {% endif %}
                               {% if block.settings.kit_contain_info != blank %}                               
                               <ul class="list-unstyled product_kit_contains__list_with_icon" style="--kit-color:{{ kitColor }}">
                                  {{ block.settings.kit_contain_info }}
                               </ul>
                               {% endif %}
                            </div>
                         </div>
                         {% if block.settings.product != blank %}
                         <div class="border_divider"></div>        
                         <div class="product_kit_card_bottom pb-4">
                        	{% assign product = all_products[block.settings.product] %}                            
                           	<div class="selected_product_kit_info text-center">
                              <h6{% if kitColor != blank %} style="color:{{ kitColor }};"{% endif %}>{{ product.title }}</h6>
                              <div class="selected_product_kit_price d-flex align-items-center justify-content-center py-3">
                                <h6>{{ product.price | money }}</h6>
                                {% if block.settings.save_percentage != blank %}
                                	<span class="selected_product_kit_discount fw_bold white_color"{% if kitColor != blank %} style="background-color:{{ kitColor }};"{% endif %}>{{ block.settings.save_percentage }}</span>
                                {% endif %}
                              </div>
                              <a class="button button--primary button__{{kitColor | remove: '#'}}" href="{{ product.url }}"{% if kitColor != blank %} style="background-color:{{ kitColor }};"{% endif %}>{{ block.settings.btn_label }}</a>
                              <style>
                                .button__{{kitColor | remove: '#'}}{
                                  border-color:{{ kitColor }} !important;                    
                                }
                                .button__{{kitColor | remove: '#'}}:hover{                    
                                  color:{{ kitColor }} !important;
                                }
                              </style>
                           	</div>                            
                         </div>
                         {% endif %}
                         <div class="border_color_divider"{% if kitColor != blank %} style="background-color:{{ kitColor }};"{% endif %}></div>        
                      </div>
                   </div>
                </div>          		
          	{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if section.settings.bg_color != blank %}
<style>
  .product_kit_inner{
    background-repeat: no-repeat;
    background-color:{{ section.settings.bg_color }};
  }
  @media(min-width:768px) and (max-width:991px){
  	 .product_kit_inner {
       padding-bottom: 100px;
     }
  }
</style>
{% endif %}

{% schema %}
  {
    "name": "Product kit",
	"tag": "section",
	"class": "section_start pb-0",
    "settings": [
		{
			"type": "text",
			"id": "bg_shape",
			"label": "Background shape",
			"info": "Upload the shape SVG into files and paste the file URL here."
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background color"
		},
		{
			"type": "header",
			"content": "section header"
		},
		{
			"type": "text",
			"id": "section_title",
			"label": "Section title"
		},
		{
			"type": "richtext",
			"id": "section_info",
			"label": "Section info"
		}
	],
	"blocks": [
		{
			"type": "productKit",
			"name": "productKit",
            "settings":[
				{
                    "type": "header",
                    "content": "kit color"
                },
				{
                    "type": "color",
                    "id": "kit_color",
                    "label": "Color"
                },
				{
                    "type": "header",
                    "content": "kit info"
                },
				{
                    "type": "text",
                    "id": "kit_title",
                    "label": "Kit title",
					"default": "Economy Nappy Kit"
                },
				{
                    "type": "text",
                    "id": "kit_label",
                    "label": "Kit label",
					"default": "Fast Drying"
                },
				{
                    "type": "image_picker",
                    "id": "kit_img",
                    "label": "Kit image"
                },
				{
                    "type": "richtext",
                    "id": "kit_text_info",
                    "label": "Kit info"
                },
				{
                    "type": "text",
                    "id": "kit_contain_title",
                    "label": "Kit contain title",
					"default": "Our Economy Kits contain:"
                },
				{
                    "type": "html",
                    "id": "kit_contain_info",
                    "label": "Kit contain info",
					"info": "Use HTML <li>Enter Your text</li>"
                },
				{
                    "type": "header",
                    "content": "product info"
                },
				{
                    "type": "product",
                    "id": "product",
                    "label": "Choose the Product"
                },
				{
                    "type": "text",
                    "id": "save_percentage",
                    "label": "Save percentage"
                },
				{
                    "type": "text",
                    "id": "btn_label",
                    "label": "Button label",
					"default": "shop now"
                }
			]
		}
	],
	"presets": [
      {
        "name": "Product kit"
      }
    ]
  }
{% endschema %}